# System Files
*/.DS_Store
.DS_Store
Thumbs.db
/.idea/
/layout-debug-plugin/.yarn/
yarn-error.log

# Dependencies
/layout-debug-plugin/node
/node_modules/
*/node_modules/

# Compiled output
excluded
/dist/
/.dist/
/.tmp
/.tmp-*
/.build
/.build-*
